<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key><string>924242915977-kr22gfvu8gdqh7qsof0omga35td1sl0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key><string>com.googleusercontent.apps.924242915977-kr22gfvu8gdqh7qsof0omga35td1sl0j</string>
	<key>API_KEY</key><string>AIzaSyA78oChyFIHwtCNDBtMA410wHABCi5nwVI</string>
	<key>GCM_SENDER_ID</key><string>924242915977</string>
	<key>PLIST_VERSION</key><string>1</string>
	<key>BUNDLE_ID</key><string>com.healthgo.HealthGoMobile</string>
	<key>PROJECT_ID</key><string>healthgo-e45be</string>
	<key>STORAGE_BUCKET</key><string>healthgo-e45be.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key><false/>
	<key>IS_ANALYTICS_ENABLED</key><false/>
	<key>IS_APPINVITE_ENABLED</key><true/>
	<key>IS_GCM_ENABLED</key><true/>
	<key>IS_SIGNIN_ENABLED</key><true/>
	<key>GOOGLE_APP_ID</key><string>1:924242915977:ios:95ad84b335064e27f28c58</string>
</dict>
</plist>